#arrow5 {
  margin-left: -15px;
  color: #787fa1;
}
#iconsize {
  width: 2em;
  height: 2em;
}

@media screen and (max-width: 800px) {
  #fontsize {
    font-size: 12px !important;
  }
  #iconsize {
    width: 2em;
    height: 2em;
  }
  #Name {
    font-size: 14px !important;
  }
  
  #arrow5 {
    height: 0.8em;
  }
 
}
